body{
	font-family: arial, sans-serif;
	background: gray;
	
	background-size: cover;
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 1%
}
*{
	padding:0px;
	margin: 0px;
}
#maindiv{
	width: 100%;
	height: 700px;
	
}


#navdiv ul{
	width: 100%;
	height: 80px;
	background: #648DA0;
	line-height: 80px;
	color: white;
	margin-right: 15px;
	border-radius: 12px;
}

#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 20px;

}
#navdiv ul li {
	list-style-type: none;
	display: inline block;
	float: right;
}
#navdiv ul li:hover{
	background: #8FB0BF;
	transition: all 0.40s;
	border-radius: 25%;
}
#navdiv h1{
	width: 300px;
	float: left;
	cursor: pointer;
	margin-left: 15;
}
.flip3D{ width:240px; height:200px; margin:10px; float:left; }
.flip3D > .front{
	position:absolute;
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
	background:#FC0; width:240px; height:200px; border-radius: 7px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
	font-size: 25.3PX;
	text-align: center;
	animation: bgcolor infinite 20s;

}
.flip3D > .back{
	position:absolute;
	-webkit-transform: perspective( 600px ) rotateY( 180deg );
	transform: perspective( 600px ) rotateY( 180deg );
	background: #80BFFF; width:240px; height:200px; border-radius: 7px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transition: -webkit-transform .5s linear 0s;
	transition: transform .5s linear 0s;
	font-size: 20PX;
	text-align: center;
}
.flip3D:hover > .front{
	-webkit-transform: perspective( 600px ) rotateY( -180deg );
	transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back{
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
	transform: perspective( 600px ) rotateY( 0deg );
}
.mrapa{
	width: 240px;
	height: 200px;
}
.elvir{
	font-size: 50px;
}
.price{
	font-size: 30px;
	margin-top: 10%;
}
@keyframes bgcolor {
	0%{
		background: #4a69bd;
	}
	20%{
		background: #2980b9 ;
	}
	40%{
		background: #8c7ae6 ;
	}
	60%{
		background:#95a5a6  ;
	}
	80%{
		background: #34495e;
	}
	100%{
		background: #006266;
	}
}
.elvir1{
	font-size: 21px;
}

